Package: cilium
Version: 1.0.0-1
Architecture: amd64
Maintainer: root <root@ubuntu-zesty>
Installed-Size: 88784
Depends: libc6 (>= 2.14)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
